<h1>Lista de Disciplinas</h1>

<div>
  <button
    (click)="
      disciplinas.setLista(
        codigo.value,
        materia.value,
        dia.value,
        horario.value,
        ementa.value,
        objetivos.value
      )
    "
  >
    Adicionar
  </button>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-2">
      <label for="cod" class="form-label">Codigo</label>
      <input
        #codigo
        id="cod"
        type="text"
        type="text"
        class="form-control"
        placeholder="Código"
      />
    </div>
    <div class="col-4">
      <label for="title" class="form-label">Matéria</label>
      <input
        #materia
        id="title"
        type="text"
        class="form-control"
        placeholder="Matéria"
      />
    </div>
    <div class="col-2">
      <label for="dia" class="form-label">Dia</label>
      <input #dia id="dia" type="text" class="form-control" placeholder="Dia" />
    </div>
    <div class="col-2">
      <label for="hora" class="form-label">Horário</label>
      <input
        #horario
        id="hora"
        type="text"
        class="form-control"
        placeholder="Horário"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-5">
      <label for="emen" class="form-label">Ementa</label>
      <textarea #ementa class="form-control" id="emen" rows="2"></textarea>
    </div>
    <div class="col-5">
      <label for="obj" class="form-label">Objetivos</label>
      <textarea #objetivos class="form-control" id="emen" rows="2"></textarea>
    </div>
  </div>
</div>
<br />
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Código</th>
      <th>Matéria</th>
      <th>Dia</th>
      <th>Horário</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let materia of disciplinas.getLista(); index as i">
    <a [routerLink]="['/lista', i]">{{ materia.codigo }}</a>
    <td>{{ materia.materia }}</td>
    <td>{{ materia.dia }}</td>
    <td>{{ materia.horario }}</td>
    <td><button (click)="disciplinas.deleteItem(i)">Excluir</button></td>
  </tr>
</table>
