.btn-danger {
  background-color: red;
}
.table {
  width: 65vw;
}
:-moz-placeholder {
  color: grey;
}
:-ms-input-placeholder {
  color: grey;
}
::-webkit-input-placeholder {
  color: rgb(179, 179, 179);
}
